* {
font-family:monospace;
margin: 0;
padding: 0;
box-sizing: border-box;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.outer-speed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.speed-container {
display: flex;
flex-direction: row;
justify-content: center;
gap: 10rem;
width: 40%;
height: 50%;
}

.bandwidth {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}
.bandwidth h3 {
    font-size:1.5rem ;
    color: #444;
   padding-bottom: 4rem;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.faq-container {
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
