/* Footer.css */
.footer {
    /* height: 5rem; */
    background-color: #006A67; /* Dark background color */
    color: white; /* White text color */
    text-align: center; /* Center text */
    width: 100%; /* Full width */
    padding-top: 1.4rem;
    /* padding: 20px 0; Add padding around the footer */
    font-family: Arial, sans-serif; /* Use a simple font */
  }
  
  .footer p {
    margin: 0; /* Remove default margin */
    font-size: 120%; /* Set a smaller font size */
    color : white; 
 }
  
  .social-icons {
    margin-top: 10px; /* Add space above the icons */
  }
  
  .social-icons a {
    padding-top: 10%;
    padding-left:1%;
    color: white; /* Set icon color to white */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
 img { 
    width: 2%;
    height: 2%;
  }

