.speed-panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
   
}

.speed-panel h2 {
    color: #444;}
.circle {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    height : 80% ;
    width: 90%;
    color : white ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FDDEE5; /* Pink */
    -webkit-text-stroke: 0.5px #C87286;
    margin-bottom: 10%;
}
.circle h1{
    font-size: 600%;
}
.circle h4 {
    font-size: 150%;
}